* {
    margin: 0;
}

header {
    background-color: white;
    position: fixed;
    width: 100%;
}

header h1 {
    z-index: 2;
    text-align: right;
    padding-right: 3em;
}

nav {
    display: flex;
    justify-content: space-around;
}

.nav-link {
    font-size: 1.2em;
    width: 20%;
    height: auto;
    margin: .2em;
}


nav a::before {
    transform: scalex(0);
    transform-origin: bottom right;
}
nav a:hover {
    background:  hsl(174, 92%, 69%);
    transition: .2s all ease;
    transition: transform .3s ease;
} 

nav a {
    align-self: center;
    padding: .5em .5em;
    background-color: hsl(174, 79%, 80%);
    border-radius: 10px;
}




nav p {
    text-decoration: none;
    color: black;
    font-size: .75em;
}

main {
    position: relative;
    top: 10em;
}
#space {
    margin-top: 10em;
}

form  { display: table;      }
p     { display: table-row;  }
label { display: table-cell; }
input { display: table-cell; }

@media screen and (max-width: 400px) {
    .nav-link {
        padding: 1em 2em;
        /* DO SOMETHING HERE SO IT's a sandwich */
        background-color: rgb(198, 238, 238);
        border-radius: 10%;
        font-size: 1em;
    }
}